.calculator-section {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    height: 580px;
}

.claculator-card {
    border-radius: 8px;
    background: #1f2937;
    width: 450px;
    height: 500px;
    padding: 12px;
    display: inline-block;
    margin-top: 30px;

}

.claculator-card label {
    font-size: 15px;
    font-family: 'Roboto Flex', sans-serif;
    color: #6b7280;
}

#select-inputs1,
#select-inputs2 {
    padding: 5px;
    border-radius: 3px;
    border: none;
    width: 190px;
    display: inline-block;
    color: rgb(99, 99, 99);
    background-color: #111827;
    outline: none;

}

#Input-Number {
    width: 418px;
    height: 20px;
    padding: 11px;
    border-radius: 0px;
    color: rgb(99, 99, 99);
    background-color: #111827;
    border: 0.5px;
    font-size: 14px;
    margin-block-start: 5px;
    border-radius: 3px;
    outline: none;

}

#Button {
    display: flex;
    margin-left: 4px;
}

#reset {
    margin-left: 25px;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    border-radius: 0px;
    background-color: #111827;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    border: 0px white;
    border-radius: 3px;

}

#reset:hover {
    background-color: black;
}

#convert:hover {
    background-color: black;
}

#convert {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    width: 100px;
    font-size: 15px;
    border-radius: 0px;
    background-color: #111827;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    border: 0px white;
    border-radius: 3px;
}


#output {
    display: inline-block;
    width: 430px;
    height: 55px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    color: rgb(99, 99, 99);
    margin-block-start: 5px;
    border-radius: 8px;
    background-color: #111827;
}



@media (max-width: 480px) {

    .claculator-card{
        width: 90%;
    }
    #select-inputs1,
    #select-inputs2 {
        width: 142px;
    }
    #Input-Number {
        width: 326px;
    } 
    #output {
        width : 337px;
    }

}

