header {
    background-color: rgb(39, 112, 248);
    height : 50px;
    display : flex;
    position: fixed;
    left: 0;
    top: 0;
    right : 0;
    height: 50px;
    z-index: 80;

}

.left-header-section {
    display : flex;
    width: 180px;;
    align-items : center;
}

.Logo {
    display : flex;
    flex-direction: column;
    justify-content: center;
    margin-left : 15px;
    line-height:1.3em;
    padding-top:10px;
    padding-bottom: 10px;
 
}
.logo-numeral {
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 0.08em;
    margin : 0;
    font-size: 25px;
    color: black;

}
.logo-convert {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: black;
}


.middle-header-section {
    /* background-color: rgb(222, 138, 27); */
    display : flex;
    flex : 2;
    align-items : center;
    justify-content: space-around;

    
}
.middle-header-section a{
    position : relative;
   text-decoration: none;
   color : black;
   padding: 5px 8px 5px 8px;

   
}
.middle-header-section a::before{
    content: '';
    position : absolute;
    background-color: rgb(248, 172, 59);
    top : 91%;
    left : 0;
    right : 0;
    bottom: 0;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}

.middle-header-section a:hover::before,
.middle-header-section a:focus::before{
    transform: scaleX(1);
}

.right-header-section {
    display : flex;
    flex : 1;
    align-items: center;
    justify-content: flex-end;

}
.right-header-section div {
    margin-right : 25px;
    background-color:rgb(248, 172, 59);
    padding-left: 10px;
    padding-right : 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 60px;
    border-radius : 2px;
}

.right-header-section a {
    display : flex;
    flex-direction: row;
    align-items: center;
    text-decoration : none;
    color : black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.fa-user{
    margin-left: 4px;
    color : black;
}
.ri-menu-3-line {
    display : none;

}
.ri-menu-3-line:hover{
    background-color: rgb(248, 172, 59);;
}

#menu-side-bar {
    display : none;
    background-color: rgb(247, 247, 247);
    float : right;
    width: 200px;
    position : fixed;
    bottom: 0;
    top: 0;
    right : 0; 
    z-index: 100;
}

#menu-side-bar ul{
    list-style: none;
}

#menu-side-bar ul li {
    padding: 10px;
}

#menu-side-bar ul li i {
    margin-right : 15px;
    font-size: 25px;
}

#menu-side-bar ul li a{
    text-decoration: none;
    font-size: 16px;
    color : black;
}

.ri-close-line {
    padding: 2px;
    border-radius: 50px;
    border: 1px solid black;
}
