.upper-content {
    display: flex;
    position: relative;
    top: 50px;
    left: 0;
    right : 0;
    height : 500px;
    color : black;;
}

.description {
    background: rgb(171,166,255);
    background: linear-gradient(103deg, rgba(171,166,255,1) 0%, rgba(141,191,255,1) 100%, rgba(233,232,233,1) 100%, rgba(0,212,255,1) 100%); 
    display : flex;
    flex:1;
    flex-direction: column;
}
.description-heading {
    
    height: 220px;
    text-align: center;
  
}
.description-heading h1{
    font-family: "Nunito", sans-serif;
    color:rgb(231, 220, 207);
    font-size: 3.2vw;
    position: relative;
    animation-name: myheading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    line-height: 0.8;

}
@keyframes myheading{
    0%   {top: -50px;}
    100% {top: 150px;}
}
.description-content {
    padding-left: 50px;
    padding-right: 50px;
}
.description-content span{
    position : relative;
    font-size: 1vw;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color:black;
    animation-name: contentAnimation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  
}
@keyframes contentAnimation {
    0% {left: -1000px;}
    100% {left: 15px;}
}

.calculator-image {
    display : flex;
    flex:1;

}
.calculator-image img{
    width: 750px;
    height: 500px;
}

.calculator-interface-container {
    position: relative;
    top: 50px;
    background-color: blue;
    height: 600px;
    display: flex;
    flex-direction: row;

    

}
.calculator-interface {
    background-color:rgb(230, 131, 10);
  

}
@media (max-width: 1100px  ){
    .description {
        display: none;
    }
    .calculator-image img {
        animation-name: imageFullMode;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    @keyframes imageFullMode{
      
        100% {flex: 1;}

    }


}

