#background_image{
    background-image: url("background_image.jpg");
    margin:0px;

}
.header {
    background-color:rgb(249, 173, 74);
    padding:15px;
    
}
.header a{
   margin-left: 20px;
   color:black;
   background-color: magenta;
   color: white;
   padding:9px;
   border-radius: 22px;
   text-align: center;
   text-decoration: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size:15px;

}
.header a:hover{
    background-color: rgb(178, 12, 178);
}

.header-right{
    float :right;

}
a[ href="#default4"]:hover{
    background-color: darkgreen;

}
.header-right a{
    background-color:rgb(11, 125, 11);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    padding:8px;
}
#Mydiv > div{
    float:left;
    

}
.calculator_display{
    background-color:rgb(246, 185, 94);
    width:35%;
    margin-left:500px;
    height: 500px;
    margin-inline: 300px;
    border-radius: 8px;
}

#current_base{
    padding: 6px;
    margin-block-start: 15px;
    width:200px;
    margin-right: 2px;
    border-radius:5px;
}

#converted_base{
    padding:6px;
    width:200px;
    border-radius:5px;   
}
#input_number{
    margin-block-start: 2px;
    margin-inline-start: 45px;
    padding: 8px;
    border-radius: 5px;
    width: 425px;
    border: 1px;
    border: 1px solid black;
}
label{
    display: inline-block;
    margin:5px;
}
#number-input-label{
    margin-block-start:40px;
}
#convert{
    margin-inline-start: 43px;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    border: 0px white;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#reset{
    margin-inline-start: 44px;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    border: 0px white;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60px;
}

#side-scroll-bar{
    margin:0px;
    width: 220px;
    background-color: white;
    height: 600px;
    overflow: auto;
    overflow-y: scroll;
}
#side-scroll-bar::-webkit-scrollbar{
    width : 15px;
}
#side-scroll-bar::-webkit-scrollbar-track{
    background-color: rgb(197, 197, 197);
}
#side-scroll-bar::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: darkgrey;
} 

#result_display{
    border-radius: 5px;
    width: 398px;
    border: 1px solid;
    padding :25px;
    background-color: white;
    margin-left:40px;
}
#side-scroll-bar{
    background-color: rgb(21,32,43);
}
#side-scroll-bar a{
    color:white;
    text-decoration: none;
    font-size: 14px;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-left:5px;
    display : block;
    margin-bottom: 3px;



}
#side-scroll-bar a:hover{
    background-color: rgb(117, 117, 117);

}
