.background_image{
    margin:0px;
    font-family: 'Roboto Flex', sans-serif;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom:1px solid  rgb(206, 203, 203);
    
   
}
.header a{
   margin-left: 20px;
   
   color:  black;
   padding:6px;
   border-radius: 4px;
   text-align: center;
   text-decoration: none;
   font-family: 'Roboto Flex', sans-serif;
   font-size:14px;

}

.header-left{
    display: flex;
    justify-content: space-between;
    width: 280px;

}
.header-left a{
    border:1.5px solid rgb(234, 132, 7);


}
.header-left a:hover{
    background-color:  rgb(234, 132, 7);
}


.header-right a{
    border: 1.5px solid rgb(58, 194, 58);
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    margin-right: 20px;
    
}

.header-right a:hover{
    background-color: rgb(58, 194, 58);;

}


div.Mydiv{
    display:flex;
    flex-wrap:wrap;
}
.claculator-display{
    border-radius:8px;
    background-color:rgb(234, 132, 7);
    width: 450px;
    height:500px;
    padding:12px;
    display:inline-block;
    margin-top:200px;
}
.claculator-display label{
    font-size:15px;
    font-family: 'Roboto Flex', sans-serif;
    color:rgb(59, 59, 59);
}
.select-inputs1 ,.select-inputs2{
    padding:5px;
    border-radius:3px;
    border: none;
    width:190px;
    display:inline-block;
    background-color:  rgb(223, 219, 219);
}
#Input-Number{
    width:418px;
    padding:11px;
    border-radius: 0px;
    background-color: rgb(223, 219, 219);
    border:0.5px;
    font-size:15px;
    margin-block-start:5px;
}

#Button{
    display: flex;
    margin-left:145px;
}

#reset {
    margin-left: 30px;
    padding:6px;
    width:80px;
    font-size:15px;
    border-radius:0px;
    background-color: black;
    color:white;
    font-family: 'Roboto Flex', sans-serif;
    border:0px white;
    
}

#convert{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    width:80px;
    font-size:15px;
    border-radius:0px;
    background-color: black;
    color:white;
    font-family: 'Roboto Flex', sans-serif;
    border:0px white;
}
#convert , #reset, :hover{
    cursor:pointer;
}

#output{
    display:inline-block;
    width:430px;
    margin-block-start:5px;
    border-radius:8px; 
    background-color: rgb(223, 219, 219);
}


#side-scroll-bar{
    margin:0px;
    width: 220px;
    display:inline-block;
    background-color: white;
    height: 600px;
    overflow: auto; 
    margin-right:300px;
}
#side-scroll-bar{
    background-color: rgb(21,32,43);
}
#side-scroll-bar a{
    color:white;
    text-decoration: none;
    font-size: 14px;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-left:5px;
    display : block;
    margin-bottom: 3px;
}
#side-scroll-bar a:hover{
    background-color: rgb(103, 103, 103);
}




