body{
    background-color: bisque;
    margin:0px;
}
.header {
    background-color:rgb(249, 173, 74);
    padding:15px;
    
}
.header a{
   margin-left: 20px;
   color:black;
   background-color: magenta;
   padding:9px;
   border-radius: 22px;
   text-align: center;
   text-decoration: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header-right{
    float :right;

}
.header-right a{
    background-color: rgb(65, 65, 254);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    padding:8px;
}
.calculator_display{
    size:100px;
    background-color: coral;
}
