.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom:1px solid  rgb(206, 203, 203);
    background-color: white;
}
.header a{
   color:  black;
   padding:6px;
   border-radius: 4px;
   text-align: center;
   text-decoration: none;
   font-family: 'Roboto Flex', sans-serif;
   font-size:14px;

}

.header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}
.Logo {
    margin-left: 10px;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
    display : flex;
    flex-direction: column;
    width: 150px;
    height: 52px;
    line-height: 1.5em;


}
.Logo h1{
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    color: rgb(234, 132, 7);
    letter-spacing: 0.12em;
    align-items: center;
    padding-top: 15px;
}

.Logo span {
    color :rgb(99, 99, 99);
}



.header-left a{
    border:1.5px solid rgb(234, 132, 7);
}
.header-left a:hover{
    background-color:  rgb(234, 132, 7);
}


.header-right a{
    border: 1.5px solid rgb(58, 194, 58);
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    margin-right: 20px;  
}

.header-right a:hover{
    background-color: rgb(58, 194, 58);;
}