.background_image{
    margin:0px;
    font-family: 'Roboto Flex', sans-serif;
    background-color: rgb(232, 228, 228);
}



div.Mydiv{
    display:flex;
    flex-wrap:wrap;
}
.claculator-display{
    border-radius:8px;
    background-color:rgb(249, 141, 8);
    width: 450px;
    height:500px;
    padding:12px;
    display:inline-block;
    margin-top:200px;
}
.claculator-display label{
    font-size:15px;
    font-family: 'Roboto Flex', sans-serif;
    color:rgb(59, 59, 59);
}
#select-inputs1 ,#select-inputs2{
    padding:5px;
    border-radius:3px;
    border: none;
    width:190px;
    display:inline-block;
    color: rgb(99, 99, 99);
    background-color:  rgb(223, 219, 219);
}
#Input-Number{
    width:418px;
    height : 20px;
    padding: 11px;
    border-radius: 0px;
    color: rgb(99, 99, 99);
    background-color: rgb(214, 213, 213);
    border:0.5px;
    font-size:18px;
    margin-block-start: 5px;
}

#Button{
    display: flex;
    margin-left: 4px;
}

#reset {
    margin-left: 25px;
    padding:6px;
    width:80px;
    font-size:15px;
    border-radius:0px;
    background-color: rgb(61, 60, 60);
    color:white;
    font-family: 'Roboto Flex', sans-serif;
    border:0px white;
    
}
#reset:hover{
    background-color: black;
}
#convert:hover{
    background-color: black;
}

#convert{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    width:80px;
    font-size:15px;
    border-radius:0px;
    background-color: rgb(61, 60, 60);
    color:white;
    font-family: 'Roboto Flex', sans-serif;
    border:0px white;
}


#output{
    display:inline-block;
    width:430px;
    height: 55px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    color: rgb(99, 99, 99);
   
    margin-block-start:5px;
    border-radius:8px; 
    background-color: rgb(214, 213, 213);
}


#side-scroll-bar{
    margin:0px;
    width: 220px;
    display:inline-block;
    background-color: white;
    height: 600px; 
    overflow: auto; 
    margin-right:300px;
}
#side-scroll-bar{
    background-color: rgb(21,32,43);
}
#side-scroll-bar a{
    color:white;
    text-decoration: none;
    font-size: 14px;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-left:5px;
    display : block;
    margin-bottom: 3px;
}
#side-scroll-bar a:hover{
    background-color: rgb(103, 103, 103);
}




